.about-me {
    padding: 5rem 8rem;
    background-color: $color-grey-light-1;
    transform: skewX(-5deg);
    transition: all .5s;
    border-radius: 3px;
    position: relative;
    border-radius: 5px;
    
    @include respond(px1400) {
        transform: skewX(0);
        border: 1px solid $color-orange-light;
    }

    @include respond(px1100) {
        padding: 3rem 4rem;
    }

    @include respond(px800) {
        padding: 3rem 0;
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 0;
        height: 0;
        border: 1.5px solid transparent;
        border-radius: 5px;
        z-index: -1;
    }
    

    &:hover {
        transform: translate(1rem, -2rem) skewX(0);

        @include respond(px1400) {
            transform: none;
        }

        &>* {
            transform: skewX(0);
        }

        &::before {
            animation: border-aniamtion-2 .5s linear forwards;
        }

        &::after {
            animation: border-aniamtion-1 .5s linear forwards;
        }

        & .about-me__right {
            border: 1px solid $color-orange-light;
            transform: translateY(0);
            opacity: 1;
            width: 8rem;
        }
    }

    &>* {
        transform: skewX(5deg);
        transition: all .5s;

        @include respond(px1400) {
            transform: skewX(0);
        }
    }

    


    &__right {
        height: 8rem;
        border-radius: 50%;
        transition: .5s all;
        transform: translateX(-15rem);
        opacity: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-orange-dark;
        font-weight: 300;
        margin-left: 5rem;
        width: 0;
        
        @include respond(px1100) {
            margin: 0 auto;
        }

        @include respond(px1400) {
            opacity: 1;
            transform: translateY(0);
            border: 1px solid $color-orange-light;
            width: 8rem;
        }
        

        &--icon {
            display: inline-block; 
            font-size: 4rem;

           

           &-first {
               font-size: 2rem;
           }
            
        }
        &--paragraph {
            font-size: 4rem;
        }
    }

    
}

.figure-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @include respond(px600) {
        flex-direction: column;
    }
}

.figure {
    width: 20%;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;

    @include respond(px1000) {
        width: 35%;
    }

    &:hover {
        cursor: pointer;

        &:hover .figure__paragraph {
            opacity: 1;
            color: $color-blue-light;
        }
    }

    &__paragraph {
        opacity: 0;
        transition: all .4s;
        font-size: 2rem;
        font-weight: 100;
        margin-top: .5rem;

        @include respond(px1400) {
            opacity: 1;
            color: $color-blue-light;
            margin-bottom: 2rem;
        }
    }
}
