// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
    
    &:link,
    &:visited {
        display: inline-block;
        padding: 2.5rem 3.5rem;
        transition: all .2s;
        border-radius: 100px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.5rem;
        letter-spacing: 2px;
        position: relative;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: $shadow-medium;

        
    }

    &:active {
        transform: translateY(0);
        box-shadow: $shadow-small;
    }

    &--header {
        color: $white;
        background-color: $color-orange-light;
        border: 1px solid $white;
        font-weight: 700;

        &:hover{
            background-color: $color-orange-dark;
        }
    }

    &--animated {
        animation-name: moveInTop;
        animation-duration: 1s;
        animation-delay: .7s;
        animation-fill-mode: backwards;
    }

    &--card {
        color: $color-grey-dark-3;
        width: 40%;
       
        &:link,
        &:visited {
            padding: 1.5rem .5rem;
            border-radius: 3px;
            transition: all .4s;
            border: 2px solid $color-grey-dark-2;
        }

        &:hover {
            border: 2px solid $black;
            transform: translateY(-.7rem);
        }

        &:active {
            transform: translateY(-.3rem);
        }

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}

