.card {
    perspective: 150rem;
    position: relative;
    height: 55rem;
    width: auto;
    

    &__side {
        font-size: 3rem;
        color: $white;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: $shadow-big;

        &--back {
            transform: rotateY(180deg);
        }
    }
    

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}

.front-content {
    height: 100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    font-weight: 300;
    
    &--united-kingdom {
        background-image:  url(../img/united-kingdom.svg);
    }

    &--germany {
        background-image: url(../img/germany.svg);
    }

    &--russia {
        background-image:url(../img/russia.svg);
    }

    &--italy {
        background-image:url(../img/italy.svg);
        color: $black;
    }

    &--france {
        background-image: url(../img/france.svg);
        color: $black;
    }

    &--spain {
        background-image: url(../img/spain.svg);
    }

    &--finland {
        background-image: url(../img/finland.svg);
        
    }

    &--norway{
        background-image: url(../img/norway.svg);
    }

    &--china{
        background-image: url(../img/china.svg);
        color: $white;
    }

    &--kenya{
        background-image: url(../img/kenya.svg);
        color: $black;
    }

    &--arabic{
        background-color: $color-green-arabic;
    }

    &--mongolia{
        background-image: url(../img/mongolia.svg);
    }
    
    &--tibet{
        background-image: url(../img/tibet.svg);
    }
    
    &--indonesia{
        background-image: url(../img/indonesia.svg);
        color: $black;
    }
    
}

.back-content {
    height: 100%;
    font-size: 2.1rem;
    font-weight: 300;
    color: $color-grey-dark-3;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    &__left {
        padding: 2rem 14rem 3rem 13rem;
        
        &--paragraph {
            line-height: 2.2;
            word-spacing: 4px;

            &:not(:last-child) {
                border-bottom: 1px solid $color-grey-light-3;
            }
        }
    }

    &__right {
        font-size: 1.6rem;
        font-weight: 400;
        position: absolute;
        @include center-box(90%);
        width: 100%;

        &--icon {
            font-size: 4rem;
            background-image: linear-gradient(to right, $color-orange-light, $color-orange-dark);
            display: inline-block;
            -webkit-background-clip: text;
            color: transparent;
            margin-left: 1rem;
        } 
    }
}