.future-box {
    background-color: rgba($white, .8);
    font-size: 1.9rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 400;
    padding: 2rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: $shadow-big;
    transition: all 0.4s;
    height: 35rem;

    &__icon {
        font-size: 6rem;
        margin: 2.5rem 0 2rem 0;
        color: transparent;
        background-image: linear-gradient(to right, $color-blue-light, $color-blue-dark);
        display: inline-block;
        -webkit-background-clip: text;
    }

    &:hover {
        transform: translateY(-1rem) scale(1.05);

        @include respond(px1400) {
            transform: none;
        } 
    }

    &__text {
        color: $color-orange-dark;
    }
}