.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($black, .7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    

    &__content {
        background-color: $color-grey-light-1;
        padding: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%;
        height: 80%;
        position: relative;
        overflow: auto;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: animatetop;
        animation-duration: 0.4s;

        &--right {
            width: 50%;
        }

        &--left{
            width: 50%;
            margin-right: 6rem;
        }
    }

    &__close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 4rem;
        font-weight: 700;
        color: $color-blue-dark;
        transition: all .2s;


        &:hover {
            cursor: pointer;
            color: $color-red;
        }
    }

    &__img {
        width: 100%;
        display: inline-block;
    }
}