.sidebar {
    background-image: linear-gradient(rgba($color-blue-light, .95), rgba($color-primary-1, .95));
    position: fixed;
    top: 50%;
    left: -51%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    z-index: 3000;

    &__content {
        display: flex;
        flex-direction: row;
        padding: 0 2rem;
        height: 100%;
        overflow: scroll;
        padding: 8rem 0;

        @include respond(px500) {
            flex-wrap: wrap;
            justify-content: center;
            overflow: scroll;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-right: 8rem;

        @include respond(px700) {
            margin-right: 2rem; 
            margin-bottom: 5rem;
        }

        

        &>* {
            width: 100%;
            height: 4rem;
            border: 0;
            outline: none;
            padding: 1rem;
            transition: all .4s;
            border-radius: 3px;
            border: 1px solid $color-grey-dark-2;
            font-weight: 700;


            &:hover {
                box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.5);
            }

            &:active {
                transform: translateY(0);
            }

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        &--input {
            font-size: 1.5rem;
        }

        &--textarea {
            font-size: 2rem;
            height: 10rem;
        }

        &--submit {
            font-size: 1.8rem;
            height: 5rem;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: 2px;
        }
    }

    &__list {
        font-size: 2.5rem;
        font-weight: 400;
        list-style: none;
        color: $white;
        text-align: center;

        &--item {
            text-shadow: 0px 1px 3px $black;


            &:first-of-type {
                font-size: 5rem;
                letter-spacing: 4px;
            }

            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }
    }

    &--active {
        top: 50%;
        left: 50%;
    }

    &__toggle {
        position: absolute;
        top: 0rem;
        right: 0;
        color: $color-orange-dark;
        font-size: 5rem;
        cursor: pointer;
        transition: all .3s;
        display: inline-block;

        &:hover {
            transform: translate(.5rem, -.5rem);
        }

        &::before {
            position: absolute;
            left: 3rem;
            top: 7rem;
            font-family: "Font Awesome 5 Free";
            font-weight: 100;
            content: "\f0e0";
            animation: shake 3s linear -10s infinite;

            @include respond(px1100) {
                top: 4.5rem;
            }
        }

        &::after {
            position: absolute;
            top: 1rem;
            left: -6rem;
            font-family: "Font Awesome 5 Free";
            font-weight: 100;
            content: "\f057";
        }
    }
}