/**
 * Basic typography style for copy text
 */

 body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.heading-primary {
    width: 100%;
    color: $color-grey-light-1;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 7rem 0;
    animation-duration: 3s;
    border-radius: 20px;
    text-shadow: 0px 4px 3px rgba($black,0.4),
             0px 8px 13px rgba($black,0.1),
             0px 18px 23px rgba($black,0.1);

    @include respond(px600) {
         padding: 2rem 0;       
    }

    
    &--main {
        display: inherit;
        font-size: 7rem;
        letter-spacing: 2rem;
        font-weight: 400;
        animation-name: moveInRight;
        animation-duration: 1s;  

        @include respond(px800) {
            font-size: 6rem;
            white-space: normal;
        }

        @include respond(px500) {
            font-size: 5rem;
            white-space: normal;
        }
    }

    &--sub {
        display: inherit;
        font-size: 2.7rem;
        letter-spacing: 1rem;
        font-weight: 700;
        animation-name: moveInLeft;
        animation-duration: 1s;

        @include respond(px800) {
            font-size: 2.1rem;
        }

        @include respond(px500) {
            font-size: 1.8rem;
        }
    }
}

.heading-secondary {
    font-size: 3.8rem;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-blue-light, $color-blue-dark);
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent;
    transition: all .2s;

    @include respond(px900) {
        letter-spacing: 1px;
        font-size: 3rem;
        margin: 0 1rem;
    }

    &:hover {
        transform: scale(1.1) skew(2deg, 2deg);
        

        @include respond(px1400) {
            transform: none;
            text-shadow: 0;
        }

        & .heading-secondary--span {
            transform: rotate(0);
        }
    }

    &--span {
        color: $color-orange-light;
        display: inline-block;
        font-size: 5rem;
        font-weight: 300;
        transform: rotate(5deg);
        transition: all .2s;

        @include respond(px1400) {
            transform: rotate(0);
        }

        @include respond(px900) {
            letter-spacing: 1px;
            font-size: 3.2rem;
        }
    }
}

.heading-tetriary {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $color-grey-dark-1;
    text-align: center;

    &--modal {
        
    }
}

.heading-quaternary {
    width: 90%;
    font-size: 1.7rem;
    font-weight: 400;
    color: $color-grey-light-1;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    @include center-box(85%);
    text-shadow: 2px 2px 5px black;

    @include respond(px500) {
        font-size: 1.5rem;
        
    }

    @include respond(px1400) {
        @include center-box(97%);
    }
}

.paragraph {
    font-size: 1.8rem;
    color: $color-grey-dark-3;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    line-height: 1.7;

    

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &--span {
        color: $color-orange-light;
    }

    &--link {
        text-decoration: none;
        color: $color-blue-dark;
        transition: all .4s;
        padding: .5rem;
        border-radius: 5px;
        display: inline-block;

        &:hover {
            background-color: $color-blue-light;
            color: $white;
            transform: rotate(-2deg);
        }
    }

    &--modal {
        font-size: 1.7rem;
    }

    &--footer {
        color: $color-grey-light-1;
    }
}