/**
 * Basic typography style for copy text
 */

 body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.heading-primary {
    color: $header-heading-color;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 7rem 0;
    margin-bottom: 4rem;
    animation-duration: 3s;
    border-radius: 20px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

    
    &--main {
        display: inherit;
        font-size: 6rem;
        letter-spacing: 2rem;
        font-weight: 400;
        margin-bottom: 3rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        
        
    }

    &--sub {
        display: inherit;
        font-size: 2rem;
        letter-spacing: 1rem;
        font-weight: 700;
        animation-name: moveInLeft;
        animation-duration: 1s;
        
    }
}