/**
 * Basic typography style for copy text
 */

 body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.heading-primary {
    color: $color-grey-light-1;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 7rem 0;
    animation-duration: 3s;
    border-radius: 20px;
    text-shadow: 0px 4px 3px rgba($black,0.4),
             0px 8px 13px rgba($black,0.1),
             0px 18px 23px rgba($black,0.1);

    
    &--main {
        display: inherit;
        font-size: 7rem;
        letter-spacing: 2rem;
        font-weight: 400;
        animation-name: moveInRight;
        animation-duration: 1s;  
    }

    &--sub {
        display: inherit;
        font-size: 2.5rem;
        letter-spacing: 1rem;
        font-weight: 700;
        animation-name: moveInLeft;
        animation-duration: 1s;
        
    }
}

.heading-secondary {
    font-size: 3.8rem;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-blue-light, $color-blue-dark);
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent;
    transition: all .2s;

    &:hover {
        transform: scale(1.1) skew(2deg, 2deg);
        text-shadow: .5rem 1rem 2rem rgba($black, .2);

        & .heading-secondary--span {
            transform: rotate(0);
        }
    }

    &--span {
        color: $color-orange-light;
        display: inline-block;
        font-size: 5rem;
        font-weight: 300;
        transform: rotate(5deg);
        transition: all .2s;
    }
}

.heading-tetriary {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $color-grey-dark-1;
}

.paragraph {
    font-size: 1.8rem;
    color: $color-grey-dark-2;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.5;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &--span {
        color: $color-orange-light;
    }

    &--link {
        text-decoration: none;
        color: $color-blue-dark;
        transition: all .4s;
        padding: .5rem;
        border-radius: 5px;
        display: inline-block;

        &:hover {
            background-color: $color-blue-light;
            color: $white;
            transform: rotate(-2deg);
        }
    }
}