// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.section-about {
    background-color: $color-grey-light-3;
    padding: 25rem 0;
    margin-top: -9.5vh;

    @include respond(px1400) {
        margin-top: 0;
        padding: 10rem 0;
    }
}

.section-future {
    padding: 20rem 0;
    margin-top: -5.5rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary-1, .7), rgba($color-primary-2, .7)), url(../img/future-big.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: skewY(-4deg);

    @include respond(px1400) {
        transform: skewY(0);
        padding: 10rem 0;
    }

    &>* {
        transform: skewY(4deg);
        @include respond(px1400) {
            transform: skewY(0);
        }
    }
}

.section-languages {
    padding: 20rem 0 15rem 0;
    background-color: $color-grey-light-1;
    margin-top: -6.5rem;

    @include respond(px1400) {
        margin-top: 0;
        padding: 10rem 0;
    }
}

.section-teacher {
    padding: 15rem 0;
    background-color: $color-grey-light-3;

    @include respond(px1400) {
        margin-top: 0;
        padding: 10rem 0;
    }
}

.footer {
    padding: 8.5rem 0;
    background-color: $footer-color;
    border-top: .5rem solid $color-orange-light;
}