// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Colors

$white: rgb(250, 250, 250);
$black: rgb(0, 0, 0);

$color-primary-1: rgb(89, 165, 216);
$color-primary-2: rgb(134, 74, 18);

$color-grey-light-1: rgb(245, 245, 245);
$color-grey-light-2: rgb(247, 247, 247);

$color-grey-dark-1: rgb(93, 93, 93);
$color-grey-dark-2: rgb(136, 136, 136);
$color-grey-dark-3: rgb(51, 51, 51);

$color-orange-light: rgb(245, 155, 15);
$color-orange-dark: rgb(230, 145, 5);

$color-blue-light: rgb(85, 185, 255);
$color-blue-dark: rgb(0, 125, 205);



//Grid

$grid-width: 130rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
