// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Colors

$header-gradient-first: rgb(89, 165, 216);
$header-gradient-second: rgb(134, 74, 18);


$header-heading-color: rgb(245, 245, 245);