// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Colors

$white: rgb(250, 250, 250);
$black: rgb(0, 0, 0);

$header-gradient-first: rgb(89, 165, 216);
$header-gradient-second: rgb(134, 74, 18);

$header-heading-color: rgb(245, 245, 245);

$button-header-color-light: rgb(0, 150, 136);
$button-header-color-dark: rgb(21, 118, 109);



//Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
