// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($header-gradient-first, .8), rgba($header-gradient-second, .8)) ,url(../img/header-big.jpg);
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    position: relative;

    &__text-box {
        @include center-box(35%);
        width: 70%; 
    }
}